// footer {
//     background-color: #222;
//     color: #fff;
//     font-size: 13px;
//     text-align: center;
//     z-index: 999;
//     height: 30px;
// }



// footer i {
//     color: red;
// }

// footer a {
//     color: #3c97bf;
//     text-decoration: none;
// }

// .links{
//     color: #4e05b2;
// }

.ads{
    background-color: black;
    margin-top: 70px;
    width: 100%;
    height: 35px;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    font-size: 12px;
}

.images{
    object-fit: fill;
}


@media (max-width: '400px') {
    .ads{
        flex-direction: column;
    }
    
}